/* ------------------ Overall Layout ----------------- */

.timespan_container:first-child{
	margin-top:10px;
}

.timespan_container{
	margin-bottom:10px;
	position:relative;
}

.timespan_row_container{
	display: flex;
	flex-direction: column;
}

.timespan_row,
.timespan_row_names{
	display:flex;
	flex-direction: row;
}


.timespan_day,
.timespan_intercalary{
	background-color:white;
}

.grid .timespan_intercalary{
	border-top:0px !important;
}

.timespan_intercalary:not(:first-child){
	border-left:1px solid black;
}

.timespan_row.intercalary{
	border-top:1px solid black;
}

.timespan_row.intercalary .tall{
	margin:0;
}


.day_column{
	flex-direction: column;
	min-width:32px;
	max-width:50%;
	flex-grow: 1;
	height:100px;
}

.day_row{
	display:inline-flex;
	flex-direction: row;
	width:calc(100% - 10px);
	margin:0px 5px 5px 5px;
}

.day_row:last-child{
	margin-top:auto;
}

.toprow{
	display:flex;
	flex:1;
}

.toprow.left{
	justify-content: flex-start;
}

.toprow.center{
	justify-content: center;
}

.toprow.right{
	justify-content: flex-end;
}

.toprow{
	text-align: left;
}

.toprow .number{
	margin-right:5px;
	padding-right:5px;
}

.day_row .title{
	text-align:center;
	flex:1;
}

.btn_create_event{
	position:relative;
	width:20px !important;
	height:20px !important;
	padding:1px !important;
	font-size:9pt;
	margin-top:5px;
	visibility: hidden;
	-webkit-transition: visibility .0s; /* Safari */
	transition: visibility .0s;
}

.timespan_day:hover .btn_create_event{
	visibility: visible;
}

.btn_create_event:hover{
	cursor: pointer;
}

.day_row .weather{
	font-size:10pt;
	padding-left:2px;
}

.weather_icon{
	background: url('../resources/icons/weather_icon.png');
	background-size: contain;
	width:20px !important;
	height:20px !important;
	top:0px;
	left:0px;
	margin-top:5px;
	visibility: hidden;
}

.timespan_day:hover .weather_icon{
	visibility: visible;
}

.event{
	font-size:10pt;
	word-break: break-word;
	padding-bottom:2px;
	padding-left:2px;
	margin:2px;
}

.event:hover{
	cursor: pointer;
	background-color: lightgrey;
}

.event.Dark{
	color: #ffffff;
}

.event.Light{
	color: #000000;
}

.event.dot::before{
	line-height: 0px;
	content: "• ";
	font-weight: 900;
}

.event.dot{
	color: #000000;
}

.event.background{
	color: #ffffff;
}

/* ------------ Dark Red ----------- */
.event.Dark-Solid.dot::before,
.event.Dark-Solid.text{
	color: #000000;
}
.event.Dark-Solid.background{
	background-color: #000000;
}
.event.Dark-Solid.background:hover{
	background-color: #424242;
}

/* ------------ Red ----------- */
.event.Red.dot::before,
.event.Red.text{
	color: #D50000;
}
.event.Red.background{
	background-color: #D50000;
}
.event.Red.background:hover{
	background-color: #B71C1C;
}

/* ----------- Pink */
.event.Pink.dot::before,
.event.Pink.text{
	color: #880E4F;
}
.event.Pink.background{
	background-color: #C2185B;
}
.event.Pink.background:hover{
	background-color: #880E4F;
}

/* ------------ Purple ----------- */
.event.Purple.dot::before,
.event.Purple.text{
	color: #4A148C;
}
.event.Purple.background{
	background-color: #7B1FA2;
}
.event.Purple.background:hover{
	background-color: #4A148C;
}

/* ----------- Deep Purple ----------- */
.event.Deep-Purple.dot::before,
.event.Deep-Purple.text{
	color: #311B92;
}
.event.Deep-Purple.background{
	background-color: #512DA8;
}
.event.Deep-Purple.background:hover{
	background-color: #311B92;
}

/* ------------ Blue ----------- */
.event.Blue.dot::before,
.event.Blue.text{
	color: #0D47A1;
}
.event.Blue.background{
	background-color: #1976D2;
}
.event.Blue.background:hover{
	background-color: #0D47A1;
}

/* ----------- Light-Blue ----------- */
.event.Light-Blue.dot::before,
.event.Light-Blue.text{
	color: #0288D1;
}
.event.Light-Blue.background{
	background-color: #039BE5;
}
.event.Light-Blue.background:hover{
	background-color: #0288D1;
}

/* ------------ Cyan ----------- */
.event.Cyan.dot::before,
.event.Cyan.text{
	color: #006064;
}
.event.Cyan.background{
	background-color: #0097A7;
}
.event.Cyan.background:hover{
	background-color: #006064;
}

/* ----------- Teal ----------- */
.event.Teal.dot::before,
.event.Teal.text{
	color: #004D40;
}
.event.Teal.background{
	background-color: #00796B;
}
.event.Teal.background:hover{
	background-color: #004D40;
}

/* ------------ Green ----------- */
.event.Green.dot::before,
.event.Green.text{
	color: #2E7D32;
}
.event.Green.background{
	background-color: #388E3C;
}
.event.Green.background:hover{
	background-color: #2E7D32;
}

/* ----------- Light-Green ----------- */
.event.Light-Green.dot::before,
.event.Light-Green.text{
	color: #7CB342;
}
.event.Light-Green.background{
	background-color: #689F38;
}
.event.Light-Green.background:hover{
	background-color: #7CB342;
}

/* ----------- Lime ----------- */
.event.Lime.dot::before,
.event.Lime.text{
	color: #9E9D24;
}
.event.Lime.background{
	background-color: #AFB42B;
}
.event.Lime.background:hover{
	background-color: #827717;
}

/* ------------ Yellow ----------- */
.event.Yellow.dot::before{
	color: #FFEB3B;
}
.event.Yellow.text{
	color: #FFEB3B;
}
.event.Yellow.background{
	background-color: #FFFF00;
	color: #000000;
}
.event.Yellow.background:hover{
	background-color: #FFD600;
}

/* ------------ Orange ----------- */
.event.Orange.dot::before,
.event.Orange.text{
	color: #FF9100;
}
.event.Orange.background{
	background-color: #FF9100;
	color: #000000;
}
.event.Orange.background:hover{
	background-color: #FF6D00;
}

/* ------------ Blue-Grey ----------- */
.event.Blue-Grey.dot::before,
.event.Blue-Grey.text{
	color: #455A64;
}
.event.Blue-Grey.background{
	background-color: #455A64;
}
.event.Blue-Grey.background:hover{
	background-color: #263238;
}

#top_follower{
	display:flex;
	width:inherit;
	flex-direction:row;
	border:1px solid black;
	border-top:0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	width:100%;
	z-index: 99;
	position: relative;
}

#top_follower .btn_container{
	display:inline-flex;
	flex-direction: column;
	width:5em;
	flex:0 1 auto;
	border-radius: 0px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 0;
	border-right:1px solid black;
	overflow: hidden;
}

#top_follower .btn_container:last-child{
	border-right:0;
	border-left:1px solid black;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 9px;
}

#top_follower .btn:last-child{
	border-top:1px solid black;
}

#top_follower .btn{
	border-radius: 0px;
	text-align: center;
	flex:1;
	padding:0;
	text-align: center;
}

#top_follower_content{
	text-align: center;
	padding:5px 0;
	flex:1;
}

#top_follower_content .year{
	flex:1;
	flex-grow: 1;
	width:100%;
	font-size:14pt;
}

#top_follower_content .cycle{
	flex:1;
  flex-grow: 1;
	order:2;
	width:100%;
	font-size:10pt;
}

#top_follower_content .era{
}

.era.hidden{
	visibility: hidden;
}




.lunar { position:absolute; left:0px; top:0px; display: block; width: 100%; height: 100%; z-index: 10;
  background: url('../resources/moon_sprites_newest.png');
  text-indent: -1000px; }
.lunar.gran-4.phase-0	{ background-position:  0px 0px; }
.lunar.gran-4.phase-1	{ background-position: -256px 0px; }
.lunar.gran-4.phase-2	{ background-position: -512px 0px; }
.lunar.gran-4.phase-3	{ background-position: -768px 0px; }

.lunar.gran-8.phase-0	{ background-position:  0px 0px; }
.lunar.gran-8.phase-1	{ background-position: -128px 0px; }
.lunar.gran-8.phase-2	{ background-position: -256px 0px; }
.lunar.gran-8.phase-3	{ background-position: -384px 0px; }
.lunar.gran-8.phase-4	{ background-position: -512px 0px; }
.lunar.gran-8.phase-5	{ background-position: -640px 0px; }
.lunar.gran-8.phase-6	{ background-position: -768px 0px; }
.lunar.gran-8.phase-7	{ background-position: -896px 0px; }

.lunar.gran-16.phase-0	{ background-position:  0px 0px; }
.lunar.gran-16.phase-1	{ background-position: -64px 0px; }
.lunar.gran-16.phase-2	{ background-position: -128px 0px; }
.lunar.gran-16.phase-3	{ background-position: -192px 0px; }
.lunar.gran-16.phase-4	{ background-position: -256px 0px; }
.lunar.gran-16.phase-5	{ background-position: -320px 0px; }
.lunar.gran-16.phase-6	{ background-position: -384px 0px; }
.lunar.gran-16.phase-7	{ background-position: -448px 0px; }
.lunar.gran-16.phase-8	{ background-position: -512px 0px; }
.lunar.gran-16.phase-9	{ background-position: -576px 0px; }
.lunar.gran-16.phase-10	{ background-position: -640px 0px; }
.lunar.gran-16.phase-11	{ background-position: -704px 0px; }
.lunar.gran-16.phase-12	{ background-position: -768px 0px; }
.lunar.gran-16.phase-13	{ background-position: -832px 0px; }
.lunar.gran-16.phase-14	{ background-position: -896px 0px; }
.lunar.gran-16.phase-15	{ background-position: -960px 0px; }

.lunar.gran-32.phase-0	{ background-position:  0px 0px; }
.lunar.gran-32.phase-1	{ background-position: -32px 0px; }
.lunar.gran-32.phase-2	{ background-position: -64px 0px; }
.lunar.gran-32.phase-3	{ background-position: -96px 0px; }
.lunar.gran-32.phase-4	{ background-position: -128px 0px; }
.lunar.gran-32.phase-5	{ background-position: -160px 0px; }
.lunar.gran-32.phase-6	{ background-position: -192px 0px; }
.lunar.gran-32.phase-7	{ background-position: -224px 0px; }
.lunar.gran-32.phase-8	{ background-position: -256px 0px; }
.lunar.gran-32.phase-9	{ background-position: -288px 0px; }
.lunar.gran-32.phase-10	{ background-position: -320px 0px; }
.lunar.gran-32.phase-11	{ background-position: -352px 0px; }
.lunar.gran-32.phase-12	{ background-position: -384px 0px; }
.lunar.gran-32.phase-13	{ background-position: -416px 0px; }
.lunar.gran-32.phase-14	{ background-position: -448px 0px; }
.lunar.gran-32.phase-15	{ background-position: -480px 0px; }
.lunar.gran-32.phase-16	{ background-position: -512px 0px; }
.lunar.gran-32.phase-17	{ background-position: -544px 0px; }
.lunar.gran-32.phase-18	{ background-position: -576px 0px; }
.lunar.gran-32.phase-19	{ background-position: -608px 0px; }
.lunar.gran-32.phase-20	{ background-position: -640px 0px; }
.lunar.gran-32.phase-21	{ background-position: -672px 0px; }
.lunar.gran-32.phase-22	{ background-position: -704px 0px; }
.lunar.gran-32.phase-23	{ background-position: -736px 0px; }
.lunar.gran-32.phase-24	{ background-position: -768px 0px; }
.lunar.gran-32.phase-25	{ background-position: -800px 0px; }
.lunar.gran-32.phase-26	{ background-position: -832px 0px; }
.lunar.gran-32.phase-27	{ background-position: -864px 0px; }
.lunar.gran-32.phase-28	{ background-position: -896px 0px; }
.lunar.gran-32.phase-29	{ background-position: -928px 0px; }
.lunar.gran-32.phase-30	{ background-position: -960px 0px; }
.lunar.gran-32.phase-31	{ background-position: -992px 0px; }

.lunar_background{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	display: inline-block;
	position:relative;
	top:-26.5px;
}

.calendar_moon_container{
	display:inline-flex;
	text-align: center;
	align-content: flex-start;
	height:100%;
	width:100%;
}

.moon_container{
	width:32px;
	height:32px;
	overflow:hidden;
	max-height: 999999px;
	border-radius:5px;
}

.moon_container.plus{
	padding:2px;
	background: url('../resources/icons/plus_icon.png') no-repeat scroll right center;
    background-origin: content-box;
    background-size: cover;
}

.moon_container.plus:hover{
	background-color: lightgrey;
	cursor: pointer;
}

.calendar_moon{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	float:left;
}



/* --------------- Minimalistic Layout --------------- */

.timespan_container.mini{
	height:250px;
	display:inline-flex;
	flex-direction: column;
	background-color:#f0ead0;
	border-radius:0;
	border:0;
	overflow:hidden;
	font-size:10pt;
}

.timespan_container.mini .timespan_day,
.timespan_container.mini .timespan_intercalary,
.timespan_container.mini .timespan_overflow,
.timespan_container.mini .week_day_name,
.timespan_container.mini .timespan_name{
	display:inline-flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	text-align:center;
	flex: 1 0;
	height:25px;
	margin:0.5px;
}


.timespan_container.mini .timespan_day,
.timespan_container.mini .timespan_intercalary,
.timespan_container.mini .timespan_overflow{
	width:25px;
	border:0 !important;
	margin:0.5px;
}

.timespan_container.mini .week_day_name,
.timespan_container.mini .timespan_name{
	background-color: #e7debd;
}

.timespan_container.mini .timespan_row:nth-child(even) .timespan_day{
	background-color: #f7f4e1;
}
.timespan_container.mini .timespan_row:nth-child(odd) .timespan_day{
	background-color: #e7debd;
}



/* -------------------- Grid layout ------------------ */



.timespan_container.grid{
	background-color:lightgrey;
	border-radius:10px;
	border:1px solid black;
	overflow:hidden;
}

.grid .timespan_name{
	text-align: center;
	border-bottom:1px solid black;
	font-size:22pt;
	height:50px;
}

body .grid .timespan_number{
	display:inline-block;
	margin-left:0.22222em;
}
body.hide_timespan_number .timespan_number{
	display:none;
}


.grid .week_day_name{
	flex: 1 0;
	text-align:center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid .week_day_name:not(:first-child){
	border-left:1px solid black;
}


.grid .timespan_day,
.grid .timespan_intercalary,
.grid .timespan_overflow{
	display:flex;
	flex-direction: column;
	min-height:150px;
	flex:1;
}

.current_day{
	background-color:#BF6347;
}

body .year_day_number{
	display:block;
}
body.hide_year_day .year_day_number{
	display:none;
}

.grid .timespan_overflow.first{
	padding-left:0;
}

.grid .timespan_overflow.firstlast{
	border-left:1px solid black;
	padding-left:1px;
}

.grid .timespan_overflow.last{
	padding-left:0px;
}

.grid .timespan_day{
	border-top:1px solid black;
}

.grid .timespan_day:not(:first-child){
	border-left:1px solid black;
}

.grid .timespan_overflow{
	border-top:1px solid black;
	padding-left:1px;
}

.grid .timespan_overflow.intercalary{
	border-top:0;
}

.grid .event_container{
	align-self: center;
	flex:1;
	width: 100%;
}


/* -------------------- Wide layout ------------------ */

.timespan_container.wide{
	background-color:lightgrey;
	border-radius:10px;
	border:1px solid black;
	overflow-x: scroll;
}

.timespan_container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #F5F5F5;
}

.timespan_container::-webkit-scrollbar
{
	height: 12px;
	background-color: #F5F5F5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: calc(100% - 5px);
	border-top:1px solid black;
}

.timespan_container::-webkit-scrollbar-thumb
{
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


.wide .timespan_row_container:last-child{
	padding-bottom:1px;
}

.wide .timespan_name{
	text-align: center;
	border-bottom:1px solid black;
	font-size:22pt;
	height:50px;
	width:100%;
	position:relative;
}


.wide .week_day_name{
	flex: 1 0;
	text-align:center;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width:150px;
}

.wide .week_day_name:not(:first-child){
	border-left:1px solid black;
}


.wide .timespan_day,
.wide .timespan_intercalary,
.wide .timespan_overflow{
	display:flex;
	flex-direction: column;
	min-height:150px;
	min-width:150px;
	flex:1;
}

.wide .timespan_overflow.first{
	padding-left:0;
}

.wide .timespan_overflow.firstlast{
	border-left:1px solid black;
	padding-left:1px;
}

.wide .timespan_overflow.last{
	padding-left:0px;
}

.wide .timespan_day{
	border-top:1px solid black;
}

.wide .timespan_day:not(:first-child){
	border-left:1px solid black;
}

.wide .timespan_overflow{
	border-top:1px solid black;
	padding-left:1px;
}

.wide .timespan_overflow.intercalary{
	border-top:0;
}

.wide .event_container{
	align-self: center;
	flex:1;
	width: 100%;
}





/* ---------------- Vertical layout ------------------ */

.timespan_container.vertical{
	background-color:lightgrey;
	border-radius:10px;
	border:1px solid black;
	overflow:hidden;
	text-align: center;
}

.vertical .timespan_row_container{
	display: inline-flex;
	flex-direction: column;
	width:100%;
}

.vertical .timespan_name{
	text-align: center;
	border-bottom:1px solid black;
	font-size:22pt;
	height:50px;
}

.vertical .day_row(:first-child){
	justify-content: space-between;
}

.vertical .timespan_day{
	display:block;
	text-align:left;
}


.vertical .toprow{
	padding-top:3px;
}

.vertical .number{
	border-right:1px solid lightgrey;
}

.vertical .timespan_day{
	border-left:0;
	border-top:1px solid black;
}

.vertical .timespan_day:first-child{
	border-top:0;
}

.vertical .weekday{
	text-align:center;
}

.vertical .event_container{
	align-self: left;
	width:100%;
	display:flex;
	flex-wrap: wrap;
}

.vertical .event{
	flex: 1 1 calc(25% - 4px);
	max-width:calc(25% - 4px);
}


.vertical .day_row{
	display:flex;
}


.grid .calendar_moon_container{
	flex-flow: row wrap;
	justify-content: center;
}

.vertical .day_row.moons{
	justify-content: flex-end;
	align-content: center;
}

/* ------------------ Weather tooltip Layout ----------------- */

#weather_tooltip_box {
	position: absolute;
	background: #FFF;
	border: 1px solid #AAA;
	top:0px;
	width:240px;
	height:110px;
	border-radius: 7px;
	padding:10px;
	font-size:9pt;
	display:none;
	z-index: 1500;
	-webkit-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.36);
	box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.36);
}

#weather_tooltip_box:after, #weather_tooltip_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#weather_tooltip_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FFF;
	border-width: 10px;
	margin-left: -10px;
}
#weather_tooltip_box:before {
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #AAA;
	border-width: 11px;
	margin-left: -11px;
}

#weather_tooltip_box div{
	float:left;
	text-align:center;
	width:100%;
}

#weather_tooltip_box .newline{
	width:100%;
    display: inline-block;
}






#clock{
	position:relative;
	background-image: url("../resources/base.png");
	background-size: cover;
	overflow:hidden;
	display:none;
	width:305px;
	height:305px;
	z-index:-100;
}


.SunUpDown{
	height:100%;
	position:absolute;
	display:inline-block;
	z-index:100;
}

#clock_arm{
	height:100%;
	position:absolute;
	display:inline-block;
	z-index:300;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

#clock_hours{
	height:100%;
	width:100%;
	position:absolute;
	display:inline-block;
	z-index:200;
}

#base{
	height:100%;
	position:absolute;
	display:inline-block;
	z-index:500;
}


.clock_hour_text_container{
	display:inline-block;
	height:75%;
	top:12.5%;
	width:30px;
	position:absolute;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	vertical-align:bottom;
}

.clock_hour_text
{
	width:100%;
	display:inline-block;
	position:absolute;
	text-align:center;
}

.clock_hour{
	background-image: url("../resources/clock_hour.png");
	background-size: cover;
	height:100%;
	position:absolute;
	display:inline-block;
}
