.git
.idea
.env
.vscode
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
docker-compose.yml
.gitignore
.gitattributes
.editorconfig
Dockerfile
.dockerignore