/node_modules
/public/hot
/public/storage
/public/js
/public/mix-manifest.json
/public/css
/storage/*.key
/storage/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
psysh
*.css.map
*.sass.map
*.scss.map
/resources/sass/*.css
/resources/sass/calendar/*.css
