version: '3'

services:
  fantasydb:
    image: mariadb:10.3
    container_name: fc-mariadb
    volumes:
      - fantasy-calendar-db:/var/lib/mysql
      - ./setup/database.sql:/docker-entrypoint-initdb.d/dump.sql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fantasy-calendar
    ports:
      - "13306:3306"

  fantasy-calendar:
    container_name: fantasy_calendar
    depends_on:
      - fantasy-calendar-php
    build:
      context: .
      dockerfile: setup/nginx/nginx.Dockerfile
    user: "1000:1000"
    volumes:
      - ./:/fantasy-calendar

  fantasy-calendar-php:
    container_name: fantasy_calendar_php
    image: fc-php
    build:
      context: .
      dockerfile: setup/php/php.Dockerfile
    volumes:
      - ./:/fantasy-calendar
    user: "1000:1000"
    environment:
      - "APP_ENV=local"
      - "APP_KEY=base64:ECSIURhDQnHBdx7nRVlwGtPwBU+RZrQCQpmGHesaIUM="
      - "APP_DEBUG=true"
      - "APP_URL=http://fantasy-calendar.test:9980/"
      - "COOKIEADDRESS=http://fantasy-calendar.test:9980/"
      - "DB_HOST=fantasydb"
      - "DB_DATABASE=fantasy-calendar"
      - "DB_USERNAME=root"
      - "DB_PASSWORD=root"
      - "REDIS_HOST=fcredis"
      - "SESSION_DRIVER=redis"
      - "MIX_ASSET_URL=http://fantasy-calendar.test:9980"
      - "VIEW_COMPILED_PATH=/fantasy-calendar/storage/framework/views"

  fcredis:
    image: redis
    container_name: fcredis
    depends_on:
      - fantasy-calendar-php

  fantasy-calendar-composer-install:
    image: composer
    user: "1000:1000"
    volumes:
      - ./:/app
    command: ["install"]

  fantasy-calendar-npm-install:
    image: node
    user: "1000:1000"
    ports:
      - "9980:9980"
      - "3001:3001"
    working_dir: "/fantasy-calendar"
    volumes:
      - ./:/fantasy-calendar
    command: ["npm", "run", "dev-install-watch"]
    environment:
      - "BROWSERSYNC=true"
      - "MIXVERSION=true"

volumes:
  fantasy-calendar-db:
