version: '2.1'

services:
  fantasydb:
    image: mariadb:10.3
    container_name: fc-mariadb
    volumes:
      - fantasy-calendar-db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fantasy-calendar
    ports:
      - "13306:3306"

  fc-bref-web:
    image: bref/fpm-dev-gateway
    ports:
      - ${FC_WEB_PORT:-9980}:80
    volumes:
      - .:/var/task
#      - ./setup/nginx/bref.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    environment:
      HANDLER: public/index.php
      DOCUMENT_ROOT: public

  php:
    container_name: fantasy_calendar_php
    image: fc-bref-php
    build:
      context: .
      dockerfile: setup/php/php.Dockerfile
    volumes:
      - ./:/var/task
      - ./cache:/var/task/cache
    user: "1000:1000"
    environment:
      - "APP_ENV=local"
      - "APP_KEY=base64:ECSIURhDQnHBdx7nRVlwGtPwBU+RZrQCQpmGHesaIUM="
      - "APP_DEBUG=true"
      - "APP_URL=http://127.0.0.1:9987/"
      - "ASSET_URL=http://127.0.0.1:9987/"
      - "COOKIEADDRESS=http://127.0.0.1:9987/"
      - "DB_HOST=fantasydb"
      - "DB_DATABASE=fantasy-calendar"
      - "DB_USERNAME=root"
      - "DB_PASSWORD=root"
      - "REDIS_HOST=fcredis"
      - "CACHE_DRIVER=redis"
      - "SESSION_DRIVER=redis"
      - "VIEW_COMPILED_PATH=/var/task/storage/framework/views"
      - "LOG_CHANNEL=docker"
      - "MAIL_MAILER=smtp"
      - 'MAIL_HOST=mailhog'
      - 'MAIL_PORT=1025'
      - 'MAIL_USERNAME=test'
      - 'MAIL_PASSWORD=test'
      - 'MAIL_ENCRYPTION='
      - 'MAIL_FROM_ADDRESS=contact@fantasy-calendar.com'
      - 'MAIL_FROM_NAME="Fantasy Calendar"'

  selenium:
    image: selenium/standalone-chrome
    shm_size: '1gb'
    ports:
      - "4444:4444"

  fcredis:
    image: redis
    container_name: fcredis
    ports:
      - "6378:6379"
    depends_on:
      - php

  fantasy-calendar-composer-install:
    image: composer
    user: "1000:1000"
    volumes:
      - ./:/app
    command: ["install"]

  fantasy-calendar-npm-install:
    image: node
    user: "1000:1000"
    mem_limit: 2048m
    ports:
      - ${FC_BROWSERSYNC_PORT:-9987}:9980
      - "9988:3001"
    working_dir: "/fantasy-calendar"
    volumes:
      - ./:/fantasy-calendar
    command: ["npm", "run", "dev-install-watch"]
    environment:
      - BROWSERSYNC=${FC_BROWSERSYNC:-false}
      - "MIXVERSION=true"
      - "NODE_OPTIONS=--max-old-space-size=4096"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  fantasy-calendar-db:
