// Darkly 4.6.1
// Bootswatch

//
// Color system
//

$white: #fff !default;
$gray-100: rgb(243 244 246) !default;
$gray-200: rgb(229 231 235) !default;
$gray-300: rgb(209 213 219) !default;
$gray-400: rgb(156 163 175) !default;
$gray-500: rgb(107 114 128) !default;
$gray-600: rgb(75 85 99) !default;
$gray-700: rgb(55 65 81) !default;
$gray-800: rgb(31 41 55) !default;
$gray-900: rgb(17 24 39) !default;
$black: #000 !default;

$blue: $bg-blue-500 !default;
$indigo: $bg-indigo-500 !default;
$purple: $bg-purple-500 !default;
$pink: $bg-pink-500 !default;
$red: $bg-red-700 !default;
$orange: $bg-orange-500 !default;
$yellow: $bg-yellow-500 !default;
$green: $bg-green-500 !default;
$teal: $bg-teal-500 !default;
$cyan: $bg-cyan-500 !default;

$primary: $bg-emerald-700 !default;
$secondary: $gray-700 !default;
$success: $bg-emerald-700 !default;
$info: $bg-blue-600 !default;
$warning: $bg-yellow-500 !default;
$danger: $bg-red-800 !default;
$light: $bg-gray-600 !default;
$dark: $bg-gray-800 !default;

$yiq-contrasted-threshold: 175 !default;

// Body

$body-bg: $gray-900 !default;
$body-color: $white !default;

// Links

$link-color: $success !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 0.9rem;
$font-size-sm: $font-size-base * .88 !default;
$h1-font-size: 3rem !default;
$h2-font-size: 2.5rem !default;
$h3-font-size: 2rem !default;
$text-muted: $gray-600 !default;

// Tables

$table-accent-bg: $gray-800 !default;
$table-border-color: $gray-700 !default;

// Forms

$input-border-color: $body-bg !default;
$input-group-addon-color: $gray-500 !default;
$input-group-addon-bg: $gray-700 !default;
$custom-file-color: $gray-500 !default;
$custom-file-border-color: $body-bg !default;

// Dropdowns

$dropdown-bg: $gray-900 !default;
$dropdown-border-color: $gray-700 !default;
$dropdown-divider-bg: $gray-700 !default;
$dropdown-link-color: $white !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;

// Navs

$nav-link-padding-x: 2rem !default;
$nav-link-disabled-color: $gray-500 !default;
$nav-tabs-border-color: $gray-700 !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-padding-y: 1rem !default;
$navbar-dark-color: rgba($white, .6) !default;
$navbar-dark-hover-color: $white !default;
$navbar-light-color: rgba($gray-900, .7) !default;
$navbar-light-hover-color: $gray-900 !default;
$navbar-light-active-color: $gray-900 !default;
$navbar-light-toggler-border-color: rgba($gray-900, .1) !default;

// Pagination

$pagination-color: $white !default;
$pagination-bg: $success !default;
$pagination-border-width: 0 !default;
$pagination-border-color: transparent !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: lighten($success, 10%) !default;
$pagination-hover-border-color: transparent !default;
$pagination-active-bg: $pagination-hover-bg !default;
$pagination-active-border-color: transparent !default;
$pagination-disabled-color: $white !default;
$pagination-disabled-bg: darken($success, 15%) !default;
$pagination-disabled-border-color: transparent !default;

// Jumbotron

$jumbotron-bg: $gray-800 !default;

// Cards

$card-cap-bg: $gray-700 !default;
$card-bg: $gray-800 !default;

// Popovers

$popover-bg: $gray-800 !default;
$popover-header-bg: $gray-700 !default;

// Toasts

$toast-background-color: $gray-700 !default;
$toast-header-background-color: $gray-800 !default;

// Modals

$modal-content-bg: $gray-800 !default;
$modal-content-border-color: $gray-700 !default;
$modal-header-border-color: $gray-700 !default;

// Progress bars

$progress-bg: $gray-700 !default;

// List group

$list-group-bg: $gray-800 !default;
$list-group-border-color: $gray-700 !default;
$list-group-hover-bg: $gray-700 !default;

// Breadcrumbs

$breadcrumb-bg: $gray-700 !default;

// Close

$close-color: $white !default;
$close-text-shadow: none !default;

// Code

$pre-color: inherit !default;
