@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,600');

@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

@import '~easymde/dist/easymde.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
