@tailwind base;
@tailwind variants;
@tailwind utilities;
@tailwind components;

// Fonts
// @import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

@import 'quill/dist/quill.core';
@import 'quill/dist/quill.snow';

@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/css/fontawesome';
@import '@fortawesome/fontawesome-free/css/solid';
@import '@fortawesome/fontawesome-free/css/regular';
@import '@fortawesome/fontawesome-free/css/brands';

// Variables
@import 'calendar/colors';
@import 'calendar/variables';

// Legacy calendar parts
@import 'home';

// Calendar parts
@import 'calendar';

@import 'calendar/event_colors';

// contextmenu
@import 'jquery-contextmenu/dist/jquery.contextMenu';

body {
    font-size: $font-size-base;
}

.btn-outline-secondary {
    border-color: rgb(108, 117, 125, 0.3);
}

mark {
    background-color: $bg-emerald-200
}

[x-cloak] {
    display: none;
}
