// FontsBut this s
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,600');

@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

$hamburger-layer-color      :#FFF;
$hamburger-hover-opacity    :1;
@import '~hamburgers/_sass/hamburgers/hamburgers';

// Variables
@import 'calendar/variables';

// Legacy calendar parts
@import 'home';

// Calendar parts
@import 'calendar';

// select2
@import '~select2';
