// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,600');

@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

$hamburger-layer-color      :#FFF;
$hamburger-hover-opacity    :1;
$hamburger-layer-width      :1.9rem;
$hamburger-layer-height     :0.2rem;
$hamburger-layer-spacing    :0.26rem;
$hamburger-padding-y        :1rem;
@import '~hamburgers/_sass/hamburgers/hamburgers';

@import '~trumbowyg/dist/ui/sass/trumbowyg';

@import '~protip/css/protip';

// Variables
@import 'calendar/variables';

// Legacy calendar parts
@import 'home';

// Calendar parts
@import 'calendar';

@import 'calendar/event_colors';

// select2
@import '~select2';
@import '~select2-bootstrap-theme/dist/select2-bootstrap';

// contextmenu
@import '~jquery-contextmenu/dist/jquery.contextMenu';
