// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,600');

@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

$hamburger-layer-color      :#FFF;
$hamburger-hover-opacity    :1;
$hamburger-layer-width      :1.9rem;
$hamburger-layer-height     :0.2rem;
$hamburger-layer-spacing    :0.26rem;
$hamburger-padding-y        :1rem;
@import '~hamburgers/_sass/hamburgers/hamburgers';

@import '~trumbowyg/dist/ui/sass/trumbowyg';

@import '~protip/css/protip';

// Variables
@import 'calendar/colors';
@import 'calendar/variables';

// Legacy calendar parts
@import 'home';

// Calendar parts
@import 'calendar';

@import 'calendar/event_colors';

// select2
@import '~select2';
@import '~select2-bootstrap-theme/dist/select2-bootstrap';

// contextmenu
@import '~jquery-contextmenu/dist/jquery.contextMenu';
// override stupid preset color
.context-menu-icon.context-menu-icon--fa5 i{
    color: inherit;
}
.context-menu-item.context-menu-hover{
    background-color:$accent-color;
}

.btn-outline-secondary {
    border-color: rgb(108, 117, 125, 0.3);
}
