// Variables
@import 'variables';

#loading_background{
	display: flex;
	flex-direction: column;
	top:40px;
}

#loading_background img, #loading_background div{
	display: inline-flex;
	align-self: center;
	position:relative;
	top:45vh;
	padding-top:10px;
	color:white;
}

#logo:after{
	content:'Home';
}

@media (max-width: 880px){
	#logo{
		left:5px;
		width:40px;
	}
	#logo:after{
		content:'';
	}
	#new_calendar{
		float:left;
		left:5px;
	}
}

#logo:hover{
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	background-color:#CCC;
	cursor: pointer;
}

#logo img{
	position: relative;
	width:24px;
	margin:4px;
	top:-2px;
	left:-5px;
}

#header_left_container, #header_center_container, #header_right_container{
	position:relative;
	display:inline-block;
	min-width:240px;
}

#header_left_container{
	float:left;
	text-align:left;
	min-width:220px;
}
#header_center_container{
	position:absolute;
	left:0;
	right:0;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	line-height: 36px;
	font-size:18pt;
	font-weight:bold;
	z-index: -1;
}

#header_right_container{
	float:right;
	text-align:right;
}

div .button, #logo{
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	float:right;
	position:relative;
	display:inline-block;
	text-align:center;
	line-height: 37px;
	width:120px;
	height:40px;
	border-left:1px solid #BBB;
	border-bottom:1px solid #BBB;
	color:black;
}

#logo{
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	float:left;
	position:relative;
	display:inline-block;
	text-align:center;
	line-height: 37px;
	width:100px;
	height:40px;
	border-right:1px solid #BBB;
	border-bottom:1px solid #BBB;
}

#header a:link{
	color:black;
	text-decoration: none;
}
#header a:visited{
	color:black;
	text-decoration: none;
}
#header a:hover{
	color:black;
	text-decoration: none;
}
#header a:active{
	color:black;
	text-decoration: none;
}

#new_calendar{
	border-left:0;
	border-right:1px solid #BBB;
}

div .button:hover{
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	background-color:#CCC;
	cursor: pointer;
}

#logout-button:hover{
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
	background-color:#ff6666;
}

#donate-button{
	width:100px;
}

#donate-button:hover{
	background-color: rgb(250, 118, 100);
}

body{
	display: flex;
	flex-direction: column;
	min-height:100vh;
}

#header{
	top:0;
	position:fixed;
	width:100%;
	height:40px;
	background-color:#DDD;
	border-bottom:1px solid #BBB;
	z-index:1000;
	text-align:center;
}

#header::before {
	content: "";
	background-image: url('../../public/resources/warning.png');
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	pointer-events: none;
}

#content{
	position:relative;
	top:40px;
	height: calc(100vh - 50px);
}

#footer{
	position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	z-index:100;
	order:10000;
}

#footer a {
	color: $blue;
	text-decoration: underline;
}

#privacy_policy_container{
	width:100vh;
	margin-left:auto;
	margin-right:auto;
}

#video{
	position:relative;
	display:block;
	margin: 25px auto 0 auto;
	vertical-align: middle;
}

#patreon-button{
	width:150px;
	background-color: rgb(249, 104, 84);
	color: white;
}

#patreon-button:hover{
	background-color: rgb(250, 118, 100);
}





#alert_background{
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10000;
	position:fixed;
    align-items: center;
	display:none;
}

/* The alert message box */
#alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	width:50%;
	position:relative;
	margin:auto;
	z-index: 10000;
}

/* The close button */
#alert_closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
#alert_closebtn:hover {
	color: black;
}
