
.user_calendar {
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.user_calendar .card-header {
    background-color: $accent-color;
    color: white;
}

.icon_container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.calendar_action {
    display: inline-block;
    margin: .4rem 0;

    @media screen and (min-width: 900px) {
        margin: 1rem 0;
    }

    i {
        width: 3.25rem;
        height: 3.25rem;
        line-height: 3.25rem;
        font-size: 1.8rem;
        margin: 0 5px;
        opacity: 0.70;
        background-color: $action-bg-color;
        border-radius: 50%;
        color: $action-icon-color;
        vertical-align: middle;
        text-align: center;

        @media screen and (min-width: 900px) {
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            font-size: 1.2rem;
        }
    }

    &:hover {
        text-decoration: none;

        i {
            color: black;
        }
    }
}

.calendar__list {
    padding-top: 3rem;
}
