@charset "UTF-8";

.index_container {
  width: 100%;
  display: block;
  margin-top: 20px;
}

.column {
  width: 49%;
  float: left;
}

.index_container .column:not(:last-child) {
  margin-right: 2%;
}

#user_calendar_list {
  position: relative;
  width: 90%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#user_calendar_list .user_calendar_row {
  position: relative;
  width: 100%;
  float: left;
}

#user_calendar_list .user_calendar {
  position: relative;
  width: 30%;
  margin: 1%;
  border: 1px solid #777;
  border-radius: 10px;
  float: left;
  padding: 1%;
}

@media (max-width: 1435px) {
  #user_calendar_list .user_calendar {
    width: 48%;
  }
}

@media (max-width: 850px) {
  #user_calendar_list .user_calendar {
    width: 100%;
  }

  .column {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #user_calendar_list .user_calendar {
    width: 100%;
  }

  .column {
    width: 100%;
  }
}

.user_calendar .name {
  position: relative;
  width: 100%;
  font-size: 14pt;
  text-align: center;
}

.icon_container {
  position: relative;
  overflow: auto;
  text-align: center;
}

.icon_container a {
  text-decoration: none;
}

.icon_container img {
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  overflow: hidden;
  display: inline-block;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
}

.icon:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}

#patrons {
  width: 90%;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#patrons span {
  font-style: italic;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 75%;
  margin: 2.5em auto 0.5em auto;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014\2009";
}

#changelog {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

