/* ------------ Forms shit ------------ */

.basic-background
{
	position: fixed;
	top: 0px;
	bottom: 0px;
	background-color:rgba(75, 75, 75, 0.75);
	width: 100%;
  height:100%;
	display:none;
	z-index:1000;
}

.basic-container {
  max-width: 380px;
	position:relative;
	margin:auto;
}

.basic-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.basic-form {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:7px;
}

.basic-form .basic-form-heading,
.basic-form .checkbox {
  margin-bottom: 30px;
}
.basic-form .checkbox {
  font-weight: normal;
}
.basic-form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.basic-form .form-control:focus {
  z-index: 2;
}
.basic-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.basic-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.basic-form input[name="password_again"] {
  margin-top: -11px;
  margin-bottom: 20px;
  border-radius:7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* ------------ Profile shit ------------ */

#curr_password {
  margin-bottom: 15px;
  border-radius:7px;
}

#new_password{
  margin-bottom: -1px;
  border-radius:7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#new_password2{
  border-radius:7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 15px;
}

#new_email  {
  margin-bottom: -1px;
  border-radius:7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#new_email2 {
  margin-bottom: 15px;
  border-radius:7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#email {
  margin-bottom:15px;
}

#forgotten_password {
  margin-top:5px;
}

/* ---- Login and register styles ----*/

.page-register .container, 
.page-login .container,
.page-password-request .container {
  padding: 20px 0;
}

.page-register .card-body, 
.page-login .card-body,
.page-password-request .card-body {
  padding: 20px 0;
}