/* ------------ Dark Red ----------- */
.event.Dark-Solid.dot::before,
.event.Dark-Solid.text{
    color: #000000;
}
.event.Dark-Solid.background{
    background-color: #000000;
}
.event.Dark-Solid.background:hover{
    background-color: #424242;
}

/* ------------ Red ----------- */
.event.Red.dot::before,
.event.Red.text{
    color: #D50000;
}
.event.Red.background{
    background-color: #D50000;
}
.event.Red.background:hover{
    background-color: #B71C1C;
}

/* ----------- Pink */
.event.Pink.dot::before,
.event.Pink.text{
    color: #880E4F;
}
.event.Pink.background{
    background-color: #C2185B;
}
.event.Pink.background:hover{
    background-color: #880E4F;
}

/* ------------ Purple ----------- */
.event.Purple.dot::before,
.event.Purple.text{
    color: #4A148C;
}
.event.Purple.background{
    background-color: #7B1FA2;
}
.event.Purple.background:hover{
    background-color: #4A148C;
}

/* ----------- Deep Purple ----------- */
.event.Deep-Purple.dot::before,
.event.Deep-Purple.text{
    color: #311B92;
}
.event.Deep-Purple.background{
    background-color: #512DA8;
}
.event.Deep-Purple.background:hover{
    background-color: #311B92;
}

/* ------------ Blue ----------- */
.event.Blue.dot::before,
.event.Blue.text{
    color: #0D47A1;
}
.event.Blue.background{
    background-color: #1976D2;
}
.event.Blue.background:hover{
    background-color: #0D47A1;
}

/* ----------- Light-Blue ----------- */
.event.Light-Blue.dot::before,
.event.Light-Blue.text{
    color: #0288D1;
}
.event.Light-Blue.background{
    background-color: #039BE5;
}
.event.Light-Blue.background:hover{
    background-color: #0288D1;
}

/* ------------ Cyan ----------- */
.event.Cyan.dot::before,
.event.Cyan.text{
    color: #006064;
}
.event.Cyan.background{
    background-color: #0097A7;
}
.event.Cyan.background:hover{
    background-color: #006064;
}

/* ----------- Teal ----------- */
.event.Teal.dot::before,
.event.Teal.text{
    color: #004D40;
}
.event.Teal.background{
    background-color: #00796B;
}
.event.Teal.background:hover{
    background-color: #004D40;
}

/* ------------ Green ----------- */
.event.Green.dot::before,
.event.Green.text{
    color: #2E7D32;
}
.event.Green.background{
    background-color: #388E3C;
}
.event.Green.background:hover{
    background-color: #2E7D32;
}

/* ----------- Light-Green ----------- */
.event.Light-Green.dot::before,
.event.Light-Green.text{
    color: #7CB342;
}
.event.Light-Green.background{
    background-color: #689F38;
}
.event.Light-Green.background:hover{
    background-color: #7CB342;
}

/* ----------- Lime ----------- */
.event.Lime.dot::before,
.event.Lime.text{
    color: #9E9D24;
}
.event.Lime.background{
    background-color: #AFB42B;
}
.event.Lime.background:hover{
    background-color: #827717;
}

/* ------------ Yellow ----------- */
.event.Yellow.dot::before{
    color: #FFEB3B;
}
.event.Yellow.text{
    color: #FFEB3B;
}
.event.Yellow.background{
    background-color: #FFFF00;
    color: #000000;
}
.event.Yellow.background:hover{
    background-color: #FFD600;
}

/* ------------ Orange ----------- */
.event.Orange.dot::before,
.event.Orange.text{
    color: #FF9100;
}
.event.Orange.background{
    background-color: #FF9100;
    color: #000000;
}
.event.Orange.background:hover{
    background-color: #FF6D00;
}

/* ------------ Blue-Grey ----------- */
.event.Blue-Grey.dot::before,
.event.Blue-Grey.text{
    color: #455A64;
}
.event.Blue-Grey.background{
    background-color: #455A64;
}
.event.Blue-Grey.background:hover{
    background-color: #263238;
}
