.event.text, .event.era_event{
    //background-color: rgba(255, 255, 255, 0.6);
}

.event {
    font-weight: 600;

    &:hover {
        background-color: $bg-gray-100;
    }
}

/* ------------ Dark ----------- */
.event.Dark-Solid{
    color: $text-neutral-700;
}
.event.Dark-Solid.background{
    background-color: rgba($text-neutral-50, 0.6);
    color: $text-neutral-700;
}
.event.Dark-Solid.background:hover{
    background-color: $text-neutral-100;
}

/* ------------ Red ----------- */
.event.Red{
    color: $text-red-700;
}
.event.Red.background{
    background-color: $bg-red-50;
    color: $text-red-700;
}
.event.Red.background:hover{
    background-color: $bg-red-100;
}

/* ----------- Pink */
.event.Pink{
    color: $text-pink-700;
}
.event.Pink.background{
    color: $text-pink-700;
    background-color: $bg-pink-50;
}
.event.Pink.background:hover{
    background-color: $bg-pink-100;
}

/* ------------ Purple ----------- */
.event.Purple{
    color: $text-purple-700;
}
.event.Purple.background{
    color: $text-purple-700;
    background-color: $bg-purple-50;
}
.event.Purple.background:hover{
    background-color: $bg-purple-100;
}

/* ----------- Deep Purple ----------- */
.event.Deep-Purple{
    color: $text-violet-700;
}
.event.Deep-Purple.background{
    color: $text-violet-700;
    background-color: $bg-violet-50;
}
.event.Deep-Purple.background:hover{
    background-color: $bg-violet-100;
}

/* ------------ Blue ----------- */
.event.Blue{
    color: $text-blue-700;
}
.event.Blue.background{
    color: $text-blue-700;
    background-color: $bg-blue-50;
}
.event.Blue.background:hover{
    background-color: $bg-blue-100;
}

/* ----------- Light-Blue ----------- */
.event.Light-Blue{
    color: $text-sky-700;
}
.event.Light-Blue.background{
    color: $text-sky-700;
    background-color: $bg-sky-50;
}
.event.Light-Blue.background:hover{
    background-color: $bg-sky-100;
}

/* ------------ Cyan ----------- */
.event.Cyan{
    color: $text-cyan-700;
}
.event.Cyan.background{
    color: $text-cyan-700;
    background-color: $bg-cyan-50;
}
.event.Cyan.background:hover{
    background-color: $bg-cyan-100;
}

/* ----------- Teal ----------- */
.event.Teal{
    color: $text-teal-700;
}
.event.Teal.background{
    color: $text-teal-700;
    background-color: $bg-teal-50;
}
.event.Teal.background:hover{
    background-color: $bg-teal-100;
}

/* ------------ Green ----------- */
.event.Green{
    color: $text-emerald-700;
}
.event.Green.background{
    color: $text-emerald-700;
    background-color: $bg-emerald-50;
}
.event.Green.background:hover{
    background-color: $bg-emerald-100;
}

/* ----------- Light-Green ----------- */
.event.Light-Green{
    color: $text-green-700;
}
.event.Light-Green.background{
    color: $text-green-700;
    background-color: $bg-green-50;
}
.event.Light-Green.background:hover{
    background-color: $bg-green-100;
}

/* ----------- Lime ----------- */
.event.Lime{
    color: $text-lime-700;
}
.event.Lime.background{
    color: $text-lime-700;
    background-color: $bg-lime-50;
}
.event.Lime.background:hover{
    background-color: $bg-lime-100;
}

/* ------------ Yellow ----------- */
.event.Yellow{
    color: $text-yellow-700;
}
.event.Yellow.background{
    background-color: $bg-yellow-50;
    color: $text-yellow-700;
}
.event.Yellow.background:hover{
    background-color: $bg-yellow-100;
}

/* ------------ Orange ----------- */
.event.Orange{
    color: $text-orange-700;
}
.event.Orange.background{
    color: $text-orange-700;
    background-color: $bg-orange-50;
}
.event.Orange.background:hover{
    background-color: $bg-orange-100;
}

/* ------------ Blue-Grey ----------- */
.event.Blue-Grey{
    color: $text-gray-700;
}
.event.Blue-Grey.background{
    color: $text-gray-700;
    background-color: $bg-gray-50;
}
.event.Blue-Grey.background:hover{
    background-color: $bg-gray-100;
}
