.event.text, .event.era_event{
    //background-color: rgba(255, 255, 255, 0.6);
}

.event {
    font-weight: 700;

    &:hover {
        background-color: $bg-gray-700;
    }
}

/* ------------ Dark ----------- */
.event.Dark-Solid{
    color: $text-neutral-500;
}
.event.Dark-Solid.background{
    background-color: rgba($text-neutral-900, 0.6);
    color: $text-neutral-300;
}
.event.Dark-Solid.background:hover{
    background-color: $text-neutral-800;
}

/* ------------ Red ----------- */
.event.Red{
    color: $text-red-500;
}
.event.Red.background{
    background-color: $bg-red-900;
    color: $text-red-300;
}
.event.Red.background:hover{
    background-color: $bg-red-800;
}

/* ----------- Pink */
.event.Pink{
    color: $text-pink-500;
}
.event.Pink.background{
    color: $text-pink-300;
    background-color: $bg-pink-900;
}
.event.Pink.background:hover{
    background-color: $bg-pink-800;
}

/* ------------ Purple ----------- */
.event.Purple{
    color: $text-purple-500;
}
.event.Purple.background{
    color: $text-purple-300;
    background-color: $bg-purple-900;
}
.event.Purple.background:hover{
    background-color: $bg-purple-800;
}

/* ----------- Deep Purple ----------- */
.event.Deep-Purple{
    color: $text-violet-500;
}
.event.Deep-Purple.background{
    color: $text-violet-300;
    background-color: $bg-violet-900;
}
.event.Deep-Purple.background:hover{
    background-color: $bg-violet-800;
}

/* ------------ Blue ----------- */
.event.Blue{
    color: $text-blue-500;
}
.event.Blue.background{
    color: $text-blue-300;
    background-color: $bg-blue-900;
}
.event.Blue.background:hover{
    background-color: $bg-blue-800;
}

/* ----------- Light-Blue ----------- */
.event.Light-Blue{
    color: $text-sky-500;
}
.event.Light-Blue.background{
    color: $text-sky-300;
    background-color: $bg-sky-900;
}
.event.Light-Blue.background:hover{
    background-color: $bg-sky-800;
}

/* ------------ Cyan ----------- */
.event.Cyan{
    color: $text-cyan-500;
}
.event.Cyan.background{
    color: $text-cyan-300;
    background-color: $bg-cyan-900;
}
.event.Cyan.background:hover{
    background-color: $bg-cyan-800;
}

/* ----------- Teal ----------- */
.event.Teal{
    color: $text-teal-500;
}
.event.Teal.background{
    color: $text-teal-300;
    background-color: $bg-teal-900;
}
.event.Teal.background:hover{
    background-color: $bg-teal-800;
}

/* ------------ Green ----------- */
.event.Green{
    color: $text-emerald-500;
}
.event.Green.background{
    color: $text-emerald-300;
    background-color: $bg-emerald-900;
}
.event.Green.background:hover{
    background-color: $bg-emerald-800;
}

/* ----------- Light-Green ----------- */
.event.Light-Green{
    color: $text-green-500;
}
.event.Light-Green.background{
    color: $text-green-300;
    background-color: $bg-green-900;
}
.event.Light-Green.background:hover{
    background-color: $bg-green-800;
}

/* ----------- Lime ----------- */
.event.Lime{
    color: $text-lime-500;
}
.event.Lime.background{
    color: $text-lime-300;
    background-color: $bg-lime-900;
}
.event.Lime.background:hover{
    background-color: $bg-lime-800;
}

/* ------------ Yellow ----------- */
.event.Yellow{
    color: $text-yellow-500;
}
.event.Yellow.background{
    background-color: $bg-yellow-900;
    color: $text-yellow-300;
}
.event.Yellow.background:hover{
    background-color: $bg-yellow-800;
}

/* ------------ Orange ----------- */
.event.Orange{
    color: $text-orange-500;
}
.event.Orange.background{
    color: $text-orange-300;
    background-color: $bg-orange-900;
}
.event.Orange.background:hover{
    background-color: $bg-orange-800;
}

/* ------------ Blue-Grey ----------- */
.event.Blue-Grey{
    color: $text-gray-500;
}
.event.Blue-Grey.background{
    color: $text-gray-300;
    background-color: $bg-gray-900;
}
.event.Blue-Grey.background:hover{
    background-color: $bg-gray-800;
}
