// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$calendar-border-color: rgba(166, 168, 179, 0.32);
$calendar-bg-color: hsla(150, 5%, 95%, 1);
$card-bg-color: white;
$preview-day-color: rgba(191.0, 99.0, 71.0, 0.5);
$accent-color-lighter: #379e6b;
$accent-color: #2f855a;
$accent-color-darker: #246645;
$accent-color-light: $accent-color;
$current-day-color: $bg-gray-300;
$current-day-number-color: $accent-color;
$sidebar-width: 28%;
$wiki-link-color: rgba(0,0,0,0.2);
$wiki-link-hover-color: black;
$main-text-color: #444;
$gray-secondary: #e4e4e4;
$action-bg-color: #e2e2e2;
$action-icon-color: rgba(0, 0, 0, 0.7);
$weather-tooltip-bg-color: white;
$input-disabled-color: #e9ecef;
$input-border-color: #e9ecef;
$handle-color: $gray-800;

$sortable-header-color: rgba(166, 168, 179, 0.5);

// Modal colors
$modal-bg-color: #e2e8f0;
$modal-content-bg-color: #f7fafc;
$modal-content-hover-bg-color: white;
$modal-action-color: $text-gray-900;
$modal-accent-background: $accent-color-light;
$modal-accent-hover-background: $accent-color-lighter;
$modal-content-border-color: 1px solid rgba(0, 0, 0, 0.1);

// Minimalist colors
$m-even-bg: #F1FFE1;
$m-odd-bg: #E8E7C1;
$m-day-hover: #D4FFE9;
$m-current-day: #fdb44d;

// SVG image data
$disabled-crosshatch: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40L40 0H20L0 20m40 20V20L20 40' fill='%23f9f9fa' fill-rule='evenodd'/%3E%3C/svg%3E");
$warning-crosshatch: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40L40 0H20L0 20m40 20V20L20 40' fill-opacity='0.3' fill='%23e3342f' fill-rule='evenodd'/%3E%3C/svg%3E");
