// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$calendar-border-color: rgba(166, 168, 179, 0.32);
$calendar-bg-color: white;
$month-bg-color: white;
$accent-color: #1d472d;
$sidebar-width: 500px;
$wiki-color: rgba(0,0,0,0.2);
$main-text-color: #444;
$gray-secondary: #e4e4e4;
