#clock{
    position:relative;
    overflow:hidden;
    display:none;
    width:100%;
    padding-bottom: 100%;

    canvas{
        position: absolute;
        top:0px;
        left:0px;
        width:100%;
        height:auto;
    }
}