/* ------------------ Sortable styles ----------------- */

div:focus, button:focus, * button.btn.btn-stock:focus {
    outline: 0;
    box-shadow: none;
}

#protip_container{
    z-index:300;
}

input.invalid {
    border: 2px solid red !important;
}
select.invalid {
    border: 2px solid red !important;
}

.sortable{
    overflow:hidden;
}

.sortable:empty{
    display:none;
}

.sortable-container:last-child{
    margin-bottom:0;
}

.sortable-container input, .sortable-container textarea, .sortable-container select { font-family:inherit; }

.sortable-container input[type='number']{
    padding:0;
}
.sortable-container input{
    padding-left:5px !important;
}

.sortable-header{
    font-style: italic;
    color: $calendar-border-color;
}

.toggle:not(:checked) + .lbl-toggle + .collapsible-content.card-body {
    padding: 0;
    min-height: initial;
}

.season_text {

    font-style:italic;
    font-weight:normal;

}

.active {

    font-style: normal !important;
    font-weight: bold !important;

}


#seasons_seed {
    flex-grow: 1;
    width: auto;
    margin-right: .25rem;
}

.season_combo_icon .fa-sun {
    overflow: hidden;
    width: 0.58rem;
}

.season_combo_icon .fa-snowflake {
    overflow: hidden;
    width: 0.54rem;
    transform: scale(-1);
    position: relative;
    left: 0.1rem;
}


.view_type{
    font-size:0.75em;
    padding: 7px;
    display: flex;
    align-items: center;
}

.view_type span {
    padding-left: 4px;
}


#weather_container{
    overflow-y: auto;
    margin-bottom:5px;
    padding-right:20px;
    position: relative;
    min-height:85%;
}

#timespan_sortable, #leap_day_list{
    overflow: auto;
}

#moon_list {
    margin-top:10px;
    overflow: auto;
}

#moon_list {
    padding: 0;
    border: 0;
}

.leap_day_variance_output, .timespan_variance_output{
    font-size:0.9em;
}

.sortable-container, .highlight{
    position:relative;
    float:left;
    width:100%;
    padding:0;
}

.sortable-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: height 0.2s cubic-bezier(.25,.8,.25,1);
    border: 1px solid $gray-secondary;
}

.inter-month-container{
    width:100%;
    margin-bottom: 5px;
    padding:5px;
    border-radius: 5px;
    border:1px solid black;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    order:0;
    padding: .25rem;
    width: 100%;
    min-height: 2.5rem;
}

.sortable-container.intercalary,
.sortable-container.intercalary .visible{
    background-color: $gray-secondary;
}

.sortable-container.moon_inputs{
    border-radius: 4px;
}

.highlight, .condition-highlight{
    background-color:lightgray;
}

.collapsed{
    overflow: hidden;
}

.expanded{
    min-height: 56px;
}

.main-container > .handle, .main-container > .expand{
    margin:0 2% 0 0;
    font-size:15pt;
    min-width:20px;
    text-align:center;
    cursor: move;
    display: block;
}

.main-container > .expand{
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

input[type=number]::-webkit-inner-spin-button:not(.spinner),
input[type=number]::-webkit-outer-spin-button:not(.spinner) {
    -webkit-appearance: none;
    margin: 0;
}

.name-container{
    flex-grow: 1;
}

.remove-spacer {
    min-width: 40px;
    flex-grow: 0;
    margin-left:1%;
}


.small-input{
    position:relative;
    width:100%;
}

.moon_inputs .name-container{
    width:85%;
}


.season .name-container{
    width:70%;
}

.length_input{
    display: inline-flex;
    justify-content: flex-end;
    margin-left:auto;
    text-align:left;
    width:30%;
}

.length_input input{
    margin-left:5px;
}

.collapsed > .collapse-container {
    display: none;
}

.slider_percentage{
    margin:5px 10px;
    width: calc(100% - 20px);
}

.clock-input{
    width:40% !important;
}

.half.input_buttons select, .half.input_buttons input{
    width:61%;
}

.input_buttons i{
    position:relative;
    top:0.05em;
}

.sortable-container option:disabled {
    background-color: #D32F2F;
    color: #FFFFFF;
}

.inter-month-name{
    flex:3.9 1 auto !important;
}

.internal-list-name, .internal-list-name{
    width:100% !important;
}

.event-category-list{
    flex: 1;
    order:2;
}

.week_list, .cycle_list{
    width:100%;
    max-height:350px;
    overflow-y:scroll;
}

.open-edit-event-ui{
    text-align: left;
    height:100%;
    flex-grow: 1;
    line-height: 23px;
    border:0;
    cursor: pointer;
    display:block;
    overflow: hidden;
    font-size:0.8em;
    color: $accent-color-light;

    &:hover {
        color: white;
        background-color: $accent-color-light;
    }
}

.remove-container{
    width:100%;
    z-index:10;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.remove-container-text{
    text-align: center;
    display:none;
    margin:auto;
    font-size:11pt;
    order: 2;
    flex-grow: 1;
    line-height: 46px;
}

.remove-container > .btn_remove, .remove-container > .btn_cancel, .remove-container > .btn_accept{
    pointer-events: auto;
    height:40px;
    width:40px;
    padding: 2px 0 0;
    font-size: 22px;
    cursor: pointer;
}

.remove-container > .btn_remove {
    position: absolute;
    right: 2px;
    top: 3px;
}

.remove-container > .btn_cancel{
    display:none;
    order: 3;
    margin-right: 2px;
}

.remove-container > .btn_accept{
    left:0;
    display:none;
    order: 1;
    margin-left: 2px;
}

.remove-container > .handle{
    cursor: move;
}

.add_inputs{
    width:100%;
    margin:5px 0 10px 0;
}

.moon_inputs .moon_color{
    width:0;
    order:2;
    flex:2 1 auto;
}

#location_select{
    width:100%;
    font-size:0.85rem;
}

#copy_location_data{
    margin-bottom:10px;
}

.view_type {
    height: auto;
}

.separator, .spacey_separator{
    width:100%;
    border: 0.5px solid rgba(166, 168, 179, 0.32);
    height: 1px;
    margin-bottom: 5px;
}

.spacey_separator{
    margin:10px 0 15px 0;
}

.wrap-collapsible{
    width: 94%;
    margin: auto;
}

.location_season{
    width:100%;
}

.location_name{
    font-size:1.2rem;
}

@media screen and (max-width: 768px) {
    #input_container,#input_container.sidebar-mobile-half:not(.inputs_collapsed) {
        width: 100vw;
        max-width: initial;
        min-width: initial;
    }
    #calendar_container:not(.inputs_collapsed) {
        width: 0;
        flex-grow: 0;
        padding: 0;
    }
}

.wrap-collapsible > input[type='checkbox']{
    display: none;
}

.title-text{
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
}

.lbl-text{
    font-weight: bold;
    font-size: 1.1rem;
}
.small-lbl-text{
    font-size: 0.9rem;
}

.lbl-toggle {
    display: block;
    user-select: none;
    margin:0;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }
}

.setting{
    font-size:0.85rem;
}

.lbl-toggle:hover .wiki, .setting:hover .setting-question{
    display:inline;
}

.lbl-toggle.disabled::before{
    display:none;
}

.lbl-toggle.card-header.lbl-text > i{
    width:1.25rem;
}

.wiki, .setting-question{
    float: right;
    color: $wiki-link-color;
    text-decoration: none; /* no underline */
}

.wiki:hover, .setting-question:hover{
    color: $wiki-link-hover-color;
    text-decoration: none; /* no underline */
}

.collapsible-content {
    width:100%;
    max-height: 0;
    overflow: hidden;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100%;
    padding: 1.25rem;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
    margin-bottom: 0;

}

@media(max-width: 768px) {
    .custom-checkbox.flexible {
        transform: rotate(90deg) scale(1.4);
        margin: 30px 0;
    }
}
.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    -webkit-transition: background .0s cubic-bezier(.25,.8,.25,1);
    transition: background .0s cubic-bezier(.25,.8,.25,1);
    vertical-align: middle;
    box-shadow: none;
}
.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .0s ease, background .0s ease, box-shadow .1s cubic-bezier(.25,.8,.25,1);
    transition: left .0s ease, background .0s ease, box-shadow .1s cubic-bezier(.25,.8,.25,1);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #818181;
    background-image: none;
    box-shadow: none !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: #84c7c1;
    left: 15px;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}

.disabled{
    background-color: $input-disabled-color;
}

.form-check{
    padding-left:2rem !important;
}


/* ------------------ Modals ----------------- */

.modal-basic-wrapper{
    margin-top: 40px;
    margin-bottom: 40px;
}

.clickable_background{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color:rgba(75, 75, 75, 0.75);
    width: 100%;
    height:100%;
    z-index:1000;
    overflow-y:scroll;
}

.modal-wrapper {
    position:relative;
    max-width: 40vw;
    min-width: 650px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: $card-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:7px;
}

/* ------------------ Layout forms ----------------- */

.layout_background .layout-wrapper {
    max-width: 1200px;
    width: 80vw;
    background-color: $modal-bg-color;

    hr {
        border-color: $modal-content-border-color;
        margin: .5rem 0;
    }

    @media screen and (max-width: 768px) {
        background-color: $modal-bg-color;
        min-height: 100vh;
    }
}

.active_layout {
    background-color: rgba(250, 224, 66, .2) !important;
}

/* ------------------ Preset forms ----------------- */

.preset_background .preset-wrapper {
    max-width: 1200px;
    width: 80vw;
    background-color: $modal-bg-color;

    input[name=search] {
        background-color: $modal-bg-color;
        color: $modal-action-color;
        border-color: $modal-content-border-color;

        @media screen and (max-width: 768px) {
            width: calc(100% - 50px);
        }
    }

    hr {
        border-color: $modal-content-border-color;
        margin: .5rem 0;
    }

    .search-empty {
        border: 1px solid $modal-content-bg-color;
        opacity: 0.7;
        border-radius: 2px;
    }

    @media screen and (max-width: 768px) {
        background-color: $modal-bg-color;
        min-height: 100vh;
    }
}

.preset, .layout {
    border: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: $modal-content-bg-color;
    position: relative;
    padding-left: 80px !important;
    overflow: hidden;
    color: $modal-action-color;

    .icon {
        font-size: 30px;
        position: absolute;
        left: 0;
        top: -2px;
        bottom: -2px;
        width: 64px;
        background-color: rgba($modal-accent-background, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        i {
            color: $bg-gray-100;
        }
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        background-color: $modal-content-hover-bg-color;

        .icon {
            background-color: $modal-accent-hover-background;

            i {
                color: white;
            }
        }
    }
}

.pagination-navigation {
    &.disabled {
        background-color: transparent;
    }

    &:not(.disabled):hover{
        background-color: $modal-accent-hover-background;
        color: white;
    }
}

.pagination-number {
    border-radius: 0;
    border: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    background-color: transparent;
}

.pagination-number-active {
    border-top: 4px solid $modal-accent-background;
}


/* ------------------ Event forms ----------------- */

#event_comment_mastercontainer .trumbowyg{
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}

#event_comment_mastercontainer .trumbowyg-editor {
    min-height: calc(100% - 37px);
}

.loading{
    background-image: url('/resources/icons/loader_black.png');
    height:35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#event_comments.empty{
    font-style: italic;
}

#event_comments{
    display: flex;
    flex-direction: column;
    width:100%;
}

.event_comment{
    margin-bottom:0.5em;
    padding: 1rem;
    border: 1px solid $calendar-border-color;
}

.event_comment.calendar_owner .username{
    font-weight:800;
}

.event_comment.comment_owner{
    background-color: rgba($blue, 0.3);
}

.event_comment:last-child{
    margin-bottom:0;
}

.event_comment p:first-child{
    margin-bottom:0.5em;
}

.event_comment p{
    margin: 0;
    padding: 0;
    line-height: 1.2rem;
    font-size: 1.1rem;
}

.event_comment .username{
    font-style: italic;
    font-size:0.75em;
}

.event_comment .date{
    font-style: italic;
    color: $main-text-color;
    font-size: .7rem;
}

.event_desc {
    overflow-x: auto;
}

.event_desc * {
    max-width: 100%;
}

.close-ui-btn-bg{
    position:absolute;
    right: -20px;
    top: -16.5px;
    width:60px;
    height:60px;
    border-radius: 30px;
    background-color: $modal-bg-color;
}

.close_ui_btn{
    position:absolute;
    right: -15px;
    top: -11px;
    font-size: 50px;
    color:#E53935;
    cursor: pointer;
}

.close_ui_btn:hover{
    color:#B71C1C;
}

.view_event_btn, .edit_event_btn {
    font-size:1.5rem;
    opacity:0.35;
    margin-left:0.5rem;
    &:hover {
        opacity:1.0;
        cursor: pointer;
    }
}


@media screen and (max-width: 768px) {
    .clickable_background {
        width: auto;
    }

    .modal-basic-wrapper {
        margin: 0;
    }

    .close-ui-btn-bg {
        top: 0;
        right: 0;
        border-radius: 0;
        background-color: transparent;
    }

    .close_ui_btn {
        top: 17px;
        right: 6px;
        z-index: 100;
    }

    .modal-wrapper {
        position:relative;
        max-width: 100vw;
        min-width: 100vw;
        padding: 0.5rem;
        margin: 0 auto;
        background-color: $card-bg-color;
        border: none;
        border-radius:0px;

        .form-control {
            height: auto;
        }
    }
}

.modal-form-heading{
    margin-top:10px;
}

.event_desc.editable{
    height:100px;
}

.event_desc > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

.group_list_root ol{
    padding-inline-start:0;
    margin-block-end:0;
}

.group_list_root li{
    list-style-type: none;
}

ol.example li.placeholder {
    position: relative;
}

ol.example li.placeholder:before {
    position: absolute;
}

.group{
    display: inline-flex;
    justify-content: center;
    align-self: center;
    flex-wrap:wrap;
    margin-bottom:5px;
    width:100%;
}

.group .handle{
    flex: 1;
    flex-grow:0;
}

.group > .group_list{
    flex: 1;
    order:2;
    min-height:34px;
    border:1px solid black;
    border-radius: 5px;
    padding: 5px 5px 0;
    margin-bottom:5px;
}

.group_type.not ~ .group_list{
    background-color:rgb(200,150,150);
}

.group_type{
    width:100%;
    height:30px;
    padding-left:34px;
    font-weight: 800;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin:5px 0;
}

.group_type div{
    padding:5px;
    display: inline-flex;
    margin-right:15px;
}

.group_type label{
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.group_type div input[type='radio']{
    margin-right:5px;
}

.group_type div input[type='number']{
    width:5em;
    height:100% !important;
}


.group_type[type='normal'] ~ .group_list{
    background-color:rgb(200,200,200);
}
.group_type[type='normal'] div.normal{
    background-color:rgb(200,200,200);
    border:1px solid black;
    border-radius: 10px;
    margin:-1px 14px -1px -1px;
}

.group_type[type='not'] ~ .group_list{
    background-color:rgb(200,150,150);
}
.group_type[type='not'] div.not{
    background-color:rgb(200,150,150);
    border:1px solid black;
    border-radius: 10px;
    margin:-1px 14px -1px -1px;
}

.group_type[type='num']  ~ .group_list{
    background-color:rgb(150,150,220);
}
.group_type[type='num'] div.num{
    background-color:rgb(150,150,220);
    border:1px solid black;
    border-radius: 10px;
    margin:-1px 14px -1px -1px;
}

.group .condition_operator{
    flex:0 1 100%;
    order:3;
}

.condition{
    margin-bottom:5px;
}

.condition:last-child{
    margin-bottom:0;
}

.condition_container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    margin-bottom:5px;
    min-height: 34px;
    background-color: $action-bg-color;

    .select2{

        order:3;
        min-width:50%;

        .select2-selection{

            height: 100%;
            border-radius: 0.2rem;
            border: 1px solid #ced4da;

            .select2-selection__rendered{
                line-height: 1.5;
                padding: 0.375rem 2.0rem 0.375rem 0.75rem;
                height:100%;
            }

            .select2-selection__arrow{
                line-height: 1.5;
                padding: 0.375rem 0.75rem;
                height:100%;
            }
        }
    }
}

.select2-dropdown {
    background-color: $card-bg-color !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: $action-bg-color !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $accent-color;
}

.select2-results{

    font-size:0.875rem;
    max-height:400px;

}

.select2-container--default .select2-results > .select2-results__options{
    max-height:400px !important;
}

.placeholder{
    min-height:34px;
    padding:5px;
    margin-bottom:5px;
    background-color: rgba(0,0,0,0.25);
}

.dragged {
    margin-left:1rem;
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.dragged > select{
    display:none;
}

#event_conditions_container {
    height: auto;
}

#event_conditions_container .icon-reorder{
    padding:6px;
    order:1;
}

#event_conditions_container.deleting{
    & .condition.hover > .condition_container{
        background-color:$red;
    }
    & .group.hover > .group_list{
        background-color:$red;
    }
}

.condition_container .moon_select{
    order:2;
    display:none;
}

.condition_container.Moons .condition_type{
    width:13.5em;
}

.condition_container.Moons .moon_select{
    width:auto;
    display:block;
}

.condition_container .input_container{
    display: inline-flex;
    order:5;
    flex-wrap: wrap;
    flex-grow:1;
    min-width:25%;
}

.condition_container .input_container input{
    order:1;
    width:100%;
}

.condition_container .input_container .nth, .condition_container .input_container .offset{
    order:1;
    width:50%;
}

#condition_remove_button .icon.wiggle {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: wiggle_icon_rotation 2s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;

    &.faster{
        animation: wiggle_icon_rotation_faster 1.2s;
        animation-iteration-count: infinite;
    }
}

@keyframes wiggle_icon_rotation {
    0%      { transform: rotate(15deg); }
    10%     { transform: rotate(-15deg); }
    20%     { transform: rotate(15deg); }
    30%     { transform: rotate(-15deg); }
    40%     { transform: rotate(15deg); }
    50%     { transform: rotate(-15deg); }
    60%     { transform: rotate(15deg); }
    70%     { transform: rotate(-15deg); }
    80%     { transform: rotate(15deg); }
    90%     { transform: rotate(-15deg); }
    100%    { transform: rotate(15deg); }
}

@keyframes wiggle_icon_rotation_faster {
    0%      { transform: rotate(25deg); }
    10%     { transform: rotate(-25deg); }
    20%     { transform: rotate(25deg); }
    30%     { transform: rotate(-25deg); }
    40%     { transform: rotate(25deg); }
    50%     { transform: rotate(-25deg); }
    60%     { transform: rotate(25deg); }
    70%     { transform: rotate(-25deg); }
    80%     { transform: rotate(25deg); }
    90%     { transform: rotate(-25deg); }
    100%    { transform: rotate(25deg); }
}



.trumbowyg-box{
    margin:0;
    border: 1px solid $calendar-border-color;
}

.trumbowyg-button-pane {
    background: $card-bg-color;
    border-bottom: 1px solid $calendar-border-color;
}

.trumbowyg-button-pane .trumbowyg-button-group::after, .trumbowyg-button-pane::after{
    background: $calendar-border-color;
}

.trumbowyg-box svg, .trumbowyg-modal svg {
    fill: $main-text-color;
}

.trumbowyg-button-pane button:not(.trumbowyg-disable):hover, .trumbowyg-button-pane button:not(.trumbowyg-disable):focus, .trumbowyg-button-pane button.trumbowyg-active {
    background: $action-bg-color;
}

.event_occurrences{

    .col1, .col2{
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }

    .event_occurance{
        list-style-type: initial;
        list-style-position: inside;
        margin-bottom:5px;
    }

}

/* ------------------ Condition styles ----------------- */


.condition_container.Year{
    background-color:#FFEBEE;
}

.condition_container.Month{
    background-color:#E0F2F1;
}

.condition_container.Day{
    background-color:#F1F8E9;
}

.condition_container.Epoch{
    background-color:#ECEFF1;
}

.condition_container.Weekday{
    background-color:#FFFDE7;
}

.condition_container.Week{
    background-color:#FFF3E0;
}

.condition_container.Moons{
    background-color:#E3F2FD;
}

.condition_container.Cycle{
    background-color:#FAFAFA;
}

.flexible_background{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    position:fixed;
    align-items: center;
    text-align:center;
    overflow:hidden;
    display:none;

    &.transparent{
        background-color: rgba(0, 0, 0, 0.0);
    }
}

.blurred_background{
    backdrop-filter: blur(3px);
}

#modal {
    border-radius: 5px;
    padding: 20px;
    width:700px;
    max-width: 90%;
    position:relative;
    margin:auto;
    color: white;

    &.error{
        background-color: #f44336;

        ol {
            list-style-type: none;
            padding-inline-start: 0;
            margin: 20px 0;
        }
    }

    &.creation{
        padding: 3rem;
        background-color: $accent-color;
        font-size: 1.1rem;

        ol {
            list-style-type: none;
            padding-inline-start: 0;
            margin: 20px 0;
        }
    }
}

#generator_container.step-1 {

    .step-hide{
        display:none;
    }

    .accordion {
        .wrap-collapsible{
            display: none;
        }
    }
}

#generator_container.step-2 {

    .step-hide{
        display:none;
    }

    .accordion {
        .wrap-collapsible:not(.step-2-step):not(.step-1-step){
            display: none;
        }

        .wrap-collapsible.settings-weekdays {
            border-bottom: $card-border-color 1px solid;
        }
    }
}

#generator_container.step-3 {

    .step-hide{
        display:none;
    }

    .accordion {
        .wrap-collapsible:not(.step-3-step):not(.step-2-step):not(.step-1-step){
            display: none;
        }

        .wrap-collapsible.settings-timespans {
            border-bottom: $card-border-color 1px solid;
        }
    }
}


.parent_button_container{
    position:absolute;
    bottom:-3.5rem;
    left:calc(50% - 11rem);
    width:22rem;
    height:3.5rem;
    background-color: $card-bg-color;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border:1px solid $calendar-border-color;
}

.sp-replacer{
    height: auto !important;
}

.moon_inputs .sp-preview {
    min-height: 30px;
}
.season .sp-preview {
    min-height: 10px;
}
