/********************************************/
/** Big containers - Body, header, content **/
/********************************************/

.btn.btn-outline-accent {
    background-color: transparent;
    border-color: $accent-color;

    &:hover {
        background-color: $accent-color;
        border-color: $accent-color;
    }
}

body {
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 8px; /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

/*************/
/** General **/
/*************/

#calendar_container {
    display: flex;
    flex-direction: column;
    order: 3;
    padding: 0;
    flex-grow: 1;
    flex-basis: 0;
    transition: width 0.5s ease;
    overflow-y: auto;
    max-height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: $calendar-bg-color;
}

@media screen and (min-width: 799px) {
    #input_container.sidebar-surface-duo:not(.inputs_collapsed) {
        min-width: calc(50% - 46px);
        margin-right: 87px;
    }

    #input_collapse_btn.sidebar-surface-duo {
        &.is-active {
            right: calc(50% + 46px);
            left: auto;
        }
    }

    #input_container.sidebar-surface-duo-2:not(.inputs_collapsed) {
        min-width: calc(50% - 16px);
        margin-right: 32px;
    }

    #input_collapse_btn.sidebar-surface-duo-2 {
        &.is-active {
            right: calc(50% + 16px);
            left: auto;
        }
    }
}

/************/
/** Footer **/
/************/

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    order: 10000;

    a {
        color: $blue;
        text-decoration: underline;
    }
}

/*****************/
/** Alert boxes **/
/*****************/

#alert_background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    position: fixed;
    align-items: center;
    display: none;
}

#alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    width: 50%;
    position: relative;
    margin: auto;
    z-index: 10000;
}

#alert_closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: black;
    }
}

/*****************/
/** Export page **/
/*****************/

.page-export {
    .export-body {
        height: 74vh;
        background-color: $card-bg-color;

        &:focus {
            color: #f2f2f2;
        }
    }
}
