/* Moon phases */

.lunar_shadow {
    fill-rule: evenodd;
    fill: #292b4a;
}

.lunar_border {
    stroke: #000;
    stroke-width: 4px;
    fill: none;
}

.lunar_background {
    fill: #dfdfdf;
}

.calendar_moon_container{
    display: inline-flex;
    text-align: center;
    align-content: flex-start;
    height:100%;
    width:100%;
}

.moon_container{
    overflow:hidden;
    max-height: 999999px;
    border-radius:5px;
    &.plus{
        padding:2px;
        background: url('/resources/icons/plus_icon.png') no-repeat scroll right center;
        background-origin: content-box;
        background-size: cover;
    }

    &.plus:hover{
        background-color: lightgrey;
        cursor: pointer;
    }

}

.calendar_moon{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    float:left;
}
