/* Moon phases */

.lunar_border {
    stroke: #000;
    stroke-width: 2px;
    fill: none;
}

.moon_container{
    min-width:32px;
    height:32px;
    overflow:hidden;
    max-height: 999999px;
    border-radius:5px;
    &.plus{
        padding:2px;
        background: url('/resources/icons/plus_icon.png') no-repeat scroll right center;
        background-origin: content-box;
        background-size: cover;
    }

    &.plus:hover{
        background-color: lightgrey;
        cursor: pointer;
    }

}

.calendar_moon_container{
    display: inline-flex;
    text-align: center;
    align-content: flex-start;
    height:100%;
    width:100%;
}