@media print {

    * {
        border-color: rgba(0,0,0,0.1) !important;
        color:black !important;
    }

    body,
    #calendar_container,
    #calendar,
    #top_follower,
    .timespan_container,
    .timespan_day,
    .event
    {
        background-color: white !important;
    }

    body {
        display: block !important;
        height: auto !important;
        min-height: auto !important;
    }

    #content {
        display: block !important;
        position: relative !important;
        height: auto !important;
    }

    .event {
        border: 0 !important;
        color:black !important;
    }

    #top_follower{
        position:relative !important;
    }

    #calendar_container{
        display: block !important;
        position: relative !important;
        border: 0 !important;
        max-height: initial !important;
        padding:0 !important;
        overflow-y: visible;
    }

    #calendar {
        display: block !important;
        position: relative !important;
    }

    .timespan_container {
        display: block !important;
        position: relative !important;
        page-break-inside: avoid !important;
        border:1px rgba(0,0,0,0.1) solid !important;
        box-shadow: none !important;
    }

    .current_day{
        background-image: none !important;
    }

    .current_day:after{
        height: 0px !important;
    }

    #top_follower{
        border:1px rgba(0,0,0,0.1) solid !important;
        border-top: 0 !important;
    }

    .lunar_background{
        fill: white !important;
    }

    .lunar_shadow{
        fill: black !important;
    }

    .timespan_overflow {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40L40 0H20L0 20m40 20V20L20 40' fill='%23f9f9fa' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
}
