@media print {
    @page {
        size: auto;
    }

    *:not(.number) {
        border-color: rgba(0, 0, 0, 0.1) !important;
        color: black !important;
    }

    body,
    #calendar_container,
    #calendar,
    #top_follower,
    .timespan_container,
    .timespan_day,
    .timespan_row_names,
    .timespan_container .week_day_name,
    .event {
        background-color: white !important;
    }

    body {
        display: block !important;
        height: auto !important;
        min-height: auto !important;
    }

    #content {
        display: block !important;
        position: relative !important;
        height: auto !important;
    }

    .event {
        border: 0 !important;
        color: black !important;
    }

    #top_follower {
        position: relative !important;
    }

    #calendar_container {
        display: block !important;
        position: relative !important;
        border: 0 !important;
        max-height: initial !important;
        padding: 0 !important;
        overflow-y: visible;
    }

    #calendar {
        display: block !important;
        position: relative !important;
    }

    .timespan_container {
        display: block !important;
        position: relative !important;
        page-break-inside: avoid !important;
        border: 1px rgba(0, 0, 0, 0.1) solid !important;
        box-shadow: none !important;
    }

    .current_day {
        background-image: none !important;
    }

    .current_day .number:not(.year_day) {
        background-color: white !important;
        border: none;
        color: black !important;
        line-height: initial !important;
    }

    .current_day:after {
        height: 0px !important;
    }

    #top_follower {
        border: 1px rgba(0, 0, 0, 0.1) solid !important;
        border-top: 0 !important;
    }

    .timespan_row_container,
    .timespan_overflow {
        background-image: linear-gradient(to right, white, white);
    }
}
