/* ------------------ Weather tooltip Layout ----------------- */

@import 'weather-icons/css/weather-icons.css';
@import 'weather-icons/css/weather-icons-wind.css';

#weather_tooltip_box {
    position: absolute;
    background: $weather-tooltip-bg-color;
    top:0;
    width:180px;
    border-radius: 7px;
    padding:10px;
    font-size:9pt;
    display:none;
    z-index: 299;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

#weather_tooltip_box > div{
    float:left;
    text-align:center;
    width:100%;
}

#weather_tooltip_box .newline{
    width:100%;
    display: inline-block;
}
/* ------------------ Day data tooltip Layout ----------------- */

#day_data_tooltip_box {
    position: absolute;
    background: $weather-tooltip-bg-color;
    top:0;
    width:auto;
    border-radius: 7px;
    padding:10px;
    font-size:9pt;
    display:none;
    z-index: 299;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

#day_data_tooltip_box > table{
    float:left;
    width:100%;
}

#day_data_tooltip_box > table{

    & td{
        padding:0 0.2rem;
        &:first-child{
            text-align:right;
        }
    }

    & tr:not(:last-child){
        border-bottom:1px solid $calendar-border-color;
    }

}

/* ------------------ Context Menu ----------------- */
#context_menu {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background: $card-bg-color;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 10px 0;
    font-size:11pt;
    z-index: 300;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    .context_menu_item {
        display: flex;
        align-items: center;
        padding: 2px 6px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

/* ------------------ Moon tooltip Layout ----------------- */
#moon_tooltip_box {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background: $accent-color;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding:10px;
    font-size:11pt;
    z-index: 299;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
