/* Top-follower */

#top_follower{
    display: inline-flex;
    flex-direction:row;
    background-color: $card-bg-color;
    border:1px solid $calendar-border-color;
    border-top:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100%;
    z-index: 99;
    position: sticky;
    top: 0;
}

#top_follower .btn_container{
    display: inline-flex;
    flex-direction: column;
    width:5em;
    -webkit-flex: 0 1 auto;          /* Chrome */
    -ms-flex: 0 1 auto;              /* IE 10 */
    flex: 0 1 auto;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    overflow: hidden;
    order:1;
    padding:0;
    margin:0;
    border-right: 1px solid $calendar-border-color;
    border-bottom-left-radius: 9px;
}

#top_follower .btn_container:last-child{
    position:relative;
    right:-2px;
    order:5;
    border-left:1px solid $calendar-border-color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 9px;
}

#top_follower .btn_container .btn:last-child{
    border-top:1px solid $calendar-border-color;
}

#top_follower .btn_container .btn{
    border-radius: 0;
    text-align: center;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding:0;
    position:relative;
}

.reset_preview_date_container{

    flex:0 1 auto;

    width:5.5rem;

    padding:0.3rem;

}

.reset_preview_date_container.left{
    order:2;
}

.reset_preview_date_container.right{
    order:4;
}

.reset_preview_date {

    font-size:0.9rem;

    width:100%;
    height:100%;

    padding:0.25rem;

    text-align: center;

}

#top_follower_content{
    text-align: center;
    padding:5px 0;
    order:3;
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#top_follower_content .year{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width:100%;
    font-size:1.25rem;
}

#top_follower_content .cycle{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    order:2;
    width:100%;
    font-size:1rem;
}
