.full{
    width: 100% !important;
}

.nomax{
    max-width: 100% !important;
}

.half{
    width: 49% !important;
}

.third{
    width: 33% !important;
}

.twothird{
    width: 64% !important;
}

.quarter{
    width: 24% !important;
}

.threequarter{
    width: 74% !important;
}

.fifth{
    width: 19% !important;
}

.fourfifths{
    width: 79% !important;
}

.center-text{
    text-align: center;
}

.left-text{
    text-align: left;
}

.right-text{
    text-align: right;
}

.bold-text{
    font-weight: bold;
}

.italics-text{
    font-style: italic;
}

.small-text{
    font-size: 0.65rem;
}

.big-text {
    font-size: 1.5rem;
}

.float{
    margin-right:auto;
}

.space_below{
    margin-bottom:5px;
}

.margin-below{
    margin-bottom:2%;
}

.margin-above{
    margin-top:2%;
}

.margin-right{
    margin-right:2%;
}

.margin-left{
    margin-left:2%;
}

.hidden{
    display:none !important;
}

.box-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.drop-shadow {
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.warning {
    color: #dd6b20;
}

.valid {
    color: $accent-color;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity{
    &-1{
        opacity:0.2;
    }
    &-80 {
        opacity: 0.8;
    }
    &-70 {
        opacity: 0.7;
    }
    &-50 {
        opacity: 0.5;
    }
    &-40 {
        opacity: 0.4;
    }
    &-30 {
        opacity: 0.3;
    }
    &-5{
        opacity:1.0;
    }
}
mark {
    padding: 0;
}
