.full{
    width: 100% !important;
}

.half{
    width: 49% !important;
}

.third{
    width: 33% !important;
}

.twothird{
    width: 64% !important;
}

.quarter{
    width: 24% !important;
}

.threequarter{
    width: 74% !important;
}

.fifth{
    width: 19% !important;
}

.fourfifths{
    width: 79% !important;
}

.center-text{
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

.italics-text{
    font-style: italic;
}

.small-text{
    font-size: 9pt;
}

.big-text {
    font-size: 14pt;
}
