.full{
    width: 100% !important;
}

.half{
    width: 49% !important;
}

.third{
    width: 33% !important;
}

.twothird{
    width: 64% !important;
}

.quarter{
    width: 24% !important;
}

.threequarter{
    width: 74% !important;
}

.fifth{
    width: 19% !important;
}

.fourfifths{
    width: 79% !important;
}

.center-text{
    text-align: center;
}

.bold-text{
    font-weight: bold;
}

.italics-text{
    font-style: italic;
}

.small-text{
    font-size: 9pt;
}

.big-text {
    font-size: 14pt;
}

.float{
    margin-right:auto;
}

.space_below{
    margin-bottom:5px;
}

.margin-below{
    margin-bottom:2%;
}

.margin-above{
    margin-top:2%;
}

.margin-right{
    margin-right:2%;
}

.margin-left{
    margin-left:2%;
}

.hidden{
    display:none !important;
}

.box-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.accent-bg-color {
    background-color: $accent-color !important;
}
